<!-- Modal start -->
<div id="postModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content starts-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Posts</h4>
			</div>
			<div class="modal-body">
				<%= hidden_field_tag :action_type %>
				<%= hidden_field_tag :post_id %>
				<div id="forPostEdit">
					<%= render :partial => 'posts/form' %>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- Modal content ends-->

	</div>
</div>
<!-- Modal end-->